.container{
    display: flex;
    margin: auto;
    width: 100%;
}

.grid_container{
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 1em;
    height: 250vh;
}

