.product_card{
    box-sizing: border-box;
    margin: auto;
    padding-bottom: 25px;
}

.product_card_img{
    width: 200px;
    height: 200px;
    background: #8F869B;
    background-color: #8F869B;
    opacity: 0.8;
    border-radius: 5px;
}

.product_card_img:hover{
    opacity: 1;
}

.product_card p{
    margin-top: 10px;
}

.product_price_tag{
    color: #FFBB33;
}