footer{
    
        width: 100%;
        background-color: #333333;
        text-align: center;
        height: 35vh;
    
}

footer a{
    color: #efefef;
    text-decoration: none;
    transition: 0.5s;
}

footer a:hover {
    color: #ffbb33;
}

footer ul li{
    list-style-type: none;
    margin-bottom: 10px;
}

footer h3{
    color: #efefef;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form div input {
    padding: 8px 12px 8px 12px;
    background-color: #efefef;
    border: 2px solid #efefef;
}

form div button {
    padding: 8px 12px 8px 12px;
    color: black;
    border: 2px solid #efefef;
    background-color: white;
    text-transform: uppercase;
    transition: 0.5s;
}

form div button:hover{
    color: #ffbb33;
}

.grid_container{
    width: 60%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 19% 19% 19% 40%;
    grid-column-gap: 1%;
}

.grid_list_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.grid_container_adress{
    color: #efefef;
}

.social_list{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.social_list_item{
    transition: 0.5s;
}

.social_list_item:hover{
    color: #ffbb33;
}


