.section_container{
    width: 100%;
    height: 110vh;
    background-color: white;
    text-align: center;
    padding-top: 75px;
}

.section_container h2{
    padding: 35px 0 35px 0;
}

.container{
    display: flex;
    width: 60%;
    margin: auto;
    height: 80vh;
    margin: auto;
}

.full_notice{
    width: 48%;
    margin-right: 2% ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.small_notice{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 48%;
    grid-gap: 2%;
}

