.navbar {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 1em;
    box-shadow: 1px 4px 5px 0px #897988;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a{
    color: black;
    text-decoration: none;
    font-size: 1em;
    transition: 0.5s;
}

.item a:hover{
    color: #FFBB33;
}
